*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#fonte-index ol li a{
    text-decoration: none;
    size: inherit;
	color: white;

}
<<<<<<< HEAD

.footer{
    background: rgba(111,111,111);
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
=======
>>>>>>> 4387df73949e0a4637eade92faa9ac7ac9cb6a87

.logotipo{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 5vh;

}

.logotipo img{
    padding: 0;
    margin-top: 0;
    width: 100%;

}

.pesquisa{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   
}

.pesquisa button{
    border-radius: 15px;
}


.pesquisa input{
    border-radius: 15px;
    
}

.pesquisa input:hover{
    width: 500px;
    transition-duration: 1s;
}



.box-texto{
    padding: 0;
    width: 100%;
    margin: 0 auto;
    padding: 110px 0px 110px;
}

.texto-objetivo{
    background-color: rgba(56,176,222, 0.3);
    width: 100%;
    justify-content: space-evenly;
    padding: 52px 0px 52px;
    border: transparent;
    box-shadow: 0px 0px 20px rgba(56,176,222, 0.3);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.banner > img{
    width: 100%;
}


.artwork{
    align-items: right;
    border-color: transparent;
}
.artwork > img{
    width: 3%;
}


.link-nav-footer{
    margin: 0;
    padding: 0 5%;
    list-style-type: none;
    height: 100%;
    align-items: center;
}

.link-nav-footer>li{
    height: 100%;
    align-items: center;
    color: rgb(255,255,255);
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: transparent;
}

footer{
    background-color: rgba(56,176,222);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}